/*
 -------- Kilder brugt --------
Position: https://www.w3schools.com/css/css_position.asp
Borders: https://www.w3schools.com/css/css_border.asp
Margin: https://www.w3schools.com/css/css_margin.asp
Padding: https://www.w3schools.com/css/css_padding.asp
Height/width: https://www.w3schools.com/css/css_height_width.asp
Flex-box: https://www.w3schools.com/css/css3_flexbox.asp ; https://css-tricks.com/snippets/css/a-guide-to-flexbox/ ; https://www.joshwcomeau.com/css/center-a-div/

Hvis i will se hvordan hver del er opbygget kan i fjerne kommentar symbolerne omkring background-color: på de forskellige dokumenter.
 */

body{
    margin: 0;
    position: relative;
}

.banner {
    width: 100%;
    height: 100px;
    background-color: lightslategray;
    margin: 0;
    position: fixed;
}
li {
    list-style: none;
}

.center{
    /* Egne Parameter */
    width: 100%;

    /* Parameter for Child komponenter*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.containerRow{
    /* Egne Parameter */
    width: 100%;

    /* Parameter for Child komponenter*/
    display: flex;
    flex-direction: row;
    gap: 2.5%;
}

.containerCol{
    /* Egne Parameter */
    width: 100%;

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.topbar{
    /* Egne Parameter */
    width: 100%;
    padding: 1%;
    height: 50px;
    background-color: lightgray;

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: x-large;
}

.sidebar{
    flex-basis: 20%;
    background-color: lightgrey;
    padding: 1%;
}

.feed{
    /* Egne Parameter */
    background-color: lightgrey;
    padding: 1%;
    flex-basis: 80%;

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.post {
    /* Egne Parameter */
    width: 100%;
    background-color: white;

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.postnametime{
    /* Egne Parameter */
    padding: 0.5%;
    flex-basis: 20%;
    height: 58px;
    /*background-color: lightblue;*/

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.postname{
    /* Egne Parameter */
    flex-grow: 1;

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    /*background-color: lightpink;*/
}

.posttime{
    /* Egne Parameter */
    flex-grow: 1;
    /*background-color: lightcyan;*/

    /* Parameter For Child komponenter*/
    display: flex;
    justify-content: center;
    font-size: small;
}

.posttitle{
    /* Egne Parameter */
    padding: 0.5;
    flex-grow: 1;
    /*background-color: lightslategray;*/

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: Row;
    align-items: center;
    font-size: x-large;
}
.postimage{
    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: Row;
    align-items: center;
    gap: 10px;
}
.posttext{
    width: 95%;
    text-align: center;
    margin-bottom: 10px;
}

.comment{
    /* Egne Parameter */
    width: 95%;

    /* Parameter For Child komponenter*/
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: lightslategray;
}

.commentUserInfo{
    width: 99%;
    padding: 5px;
    background-color: lightslategray;
}

.commentText{
    width: 100%;
    padding: 5px;
}